.circle{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px green solid;
  background: lightgreen;
}

.draw-garden-modal{
  position: absolute;
  left: 47%;
  /* bottom: 80%; */
}

.profile-link, .login-link, .project-name{
  color: darkgreen;
  text-decoration: underline;

}

.profile-link:hover, .login-link:hover, .project-name:hover{
  color: olivedrab;
}

.profile-img-wrapper{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img{
  width: 100%;
  height: auto;
}
